:root {
    --ebony-clay: #1e212e;
    --ferra: #6c4b4e;
    --limed-spruce: #32444b;
    --manatee: #888a9c;
    --matterhorn: #43333b;
    --oriental-pink: #c89191;
    --primaryWhite: #fff;
    --regent-gray: #8c949e;
    --storm-gray: #6e6f7c;
    --trout: #515c62;
    --trout-primary: #4a4959;
}

* {
    box-sizing: border-box;
    color: var(--primaryWhite);
    font-family: 'Roboto', sans-serif;
    list-style: none;
    margin: 0;
    padding: 0;
    text-decoration: none;
}

body {
    background-color: var(--ebony-clay);
    box-sizing: border-box;
    width: 100%;
}

.navegacion {
    align-items: center;
    background-color: var(--ebony-clay);
    /* backdrop-filter: blur(10px); */
    display: flex;
    flex-flow: row nowrap;
    height: 5.5rem;
    justify-content: space-between;
    line-height: 0.8;
    padding: 0.5rem;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1000;
}

.logo{
    border: 2px solid var(--primaryWhite);
    border-radius: 50%;
    height: 3.5rem;
    margin-left: 1rem;
    margin-right: 1rem;
    width: 3.5rem;
}

.menuMobile {
    background-color: transparent;
    border: none;
    box-sizing: border-box;
    height: 2.5rem;
    outline: none;
    text-align: center;
    width: 2.5rem;
}

.bar {
    background-color: var(--primaryWhite);
    display: block;
    height: 2px;
    margin: 5px 0;
    width: 28px;
}

.bar:first-child {
    margin-left: 14px;
    width: 14px;
}

.bar:nth-child(2) {
    margin: 6px 0;
}

.bar:last-child {
    margin-right: 14px;
    width: 14px;
}

/* ACTIVAR CUANDO TERMINE DE EDITAR EL MENU. */
.Container__listaNavegacionMobile {
    align-items: flex-start;
    background-color: var(--ebony-clay);
    display: flex;
    flex-flow: column nowrap;
    font-size: 1.5rem;
    font-weight: bold;
    height: 50vh;
    justify-content: flex-start;
    left: 0;
    padding: 15px;
    position: absolute;
    top: 5.5rem;
    transform: translate(0) scaleY(0);
    transform-origin: 0 0;
    transition: transform 0S ease-in-out, visibility 0s ease-in-out;
    visibility: hidden;
    width: 100vw;
    z-index: 999;
}

.Container__listaNavegacionMobileActived {
    align-items: flex-start;
    background-color: var(--ebony-clay);
    box-shadow: 0 0.5px 5px #000, 0 -0.2px 2px #000;
    display: flex;
    flex-flow: column nowrap;
    font-size: 1.5rem;
    font-weight: bold;
    height: 50vh;
    justify-content: flex-start;
    left: 0;
    padding: 15px;
    position: absolute;
    top: 5.5rem;
    transform: translate(6) scaleY(1);
    transform-origin: 0 0;
    visibility: visible;
    width: 100vw;
    z-index: 999;
}

.listaNavegacionMobile {
    display: flex;
    flex-flow: column wrap;
}

.elementolistaMobile {
    margin: 15px 0;
}

.contactameMobile{
    background-color: transparent;
    border: none;
    font-size: 1.5rem;
    font-weight: bold;
    outline: none;
}

.Container__listaNavegacionDesktop { /* EDITAR MENU EN VERSION ESCRITORIO. */
    display: none;
}

.presentacion {
    align-items: flex-start;
    display: flex;
    flex-flow: column nowrap;
    line-height: 2;
    margin: 6rem 0.5rem 1rem 1.5rem;
}

.presentacion__imagen {
    align-self: center;
    border: 5px solid var(--limed-spruce);
    border-radius: 50%;
}

.presentacion__titulo {
    font-size: 1rem;
    font-weight: 100;
}

.presentacion__subtitulo {
    font-size: 2.2rem;
    font-weight: bolder;
    margin-left: 1rem;
}

.presentacion__descripcion {
    font-size: 1.2rem;
}

.presentacion__boton {
    margin: 1.5rem 0;
    padding: 1rem;
    text-align: center;
    font-size: 0.9rem;
    font-weight: 900;
    background-color: var(--limed-spruce);
    border-radius: 8px;
    width: 10rem;
    height: 3rem;
    outline: none;
    border: none;
}

.contenedorPrincipal {
    padding: 1rem;
}

.saludo {
    margin: 1.5rem 0;
}

.saludo__fotoDePerfil {
    border: 6px solid var(--ebony-clay);
    border-radius: 5px;
    box-shadow: 2px 2px 10px #000, -2px -2px 10px #000;
    height: 100%;
    margin-bottom: 3rem;
    width: 100%;
}

.saludo__titulo {
    font-size: 2rem;
    line-height: 1.5;
    margin: 0 0 1rem 0;
    position: relative;
}

.saludo__titulo::after {
    background-color: var(--ferra);
    bottom: 0;
    color: #000;
    content: '';
    height: 2px;
    left: 0;
    position: absolute;
    width: 6rem;
}

.saludo__descubre {
    color: var(--ferra);
    display: block;
    font-size: 1.5rem;
}

.saludo__descripcion {
    line-height: 1.5;
    margin: 2rem 0 2rem 0;
}

.saludo__informacionPersonal {
    border: 1px solid var(--ferra);
    border-radius: 5px;
    display: grid;
    gap: 10px;
    grid-auto-rows: 2.5rem;
    grid-template-columns: repeat(2, minmax(1rem, 1fr));
    padding: 1rem;
}

.saludo__descargarCV {
    margin: 1.5rem 0;
    padding: 1rem;
    text-align: center;
    font-size: 0.9rem;
    font-weight: 900;
    background-color: var(--limed-spruce);
    border-radius: 8px;
    width: 10rem;
    height: 3rem;
    outline: none;
    border: none;
}











.skills__grupoSkills {
    background-color: gray;
    display: inline-flex;
}

.skill-vacia {
    background-color: transparent;
    border: 2px solid black;
    border-radius: 15px;
    height: 15px;
    width: 15px;
}

.skill-media {
    background: linear-gradient(to right, black 0%, black 50%, transparent 50%, transparent 100% );
    border: 2px solid black;
    border-radius: 15px;
    height: 15px;
    width: 15px;
}

.skill-llena {
    background-color: var(--primaryBlack);
    border: 2px solid black;
    border-radius: 15px;
    height: 15px;
    width: 15px;
    color: white;
}